[submodule "zcm/transport/third-party"]
	path = zcm/transport/third-party
	url = git@github.com:ZeroCM/zcm-transports.git
	branch = master

[submodule "3rdparty/pybind11"]
    path = 3rdparty/pybind11
    url = git@github.com:pybind/pybind11.git
    branch = stable

[submodule "3rdparty/libzmq"]
    path = 3rdparty/libzmq
    url = git@github.com:zeromq/libzmq.git
    branch = master


